.content-empresas{
    border-radius: 5px;
    box-shadow: 1px 1px 3px #000000;
}

.navbar-company{
    background-color: #006495;
}

.seach-company{
    padding-left: 30px;
}

.search-company-loop{
    z-index: 100;
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    color: rgb(95, 95, 95);
}
