#alerts{ 
    z-index: 3000;
    box-shadow: 1px 1px 3px #000;
    position: fixed;
    right: -300px;
    top: 10px;
    width: 300px;
    height: 100px;
    overflow: auto;
    opacity: 0.7;
  }

  #alerts:hover{
    opacity: 1;
  }